#!/bin/env bash

while true; do
	echo "PUTing image"
	libcamera-jpeg -t500 -v0 -o- \
	| curl 'https://webcam.connect.prusa3d.com/c/snapshot' \
	  -X 'PUT' \
	  -H 'content-type: image/jpg' \
	  -H "fingerprint: $FINGERPRINT" \
	  -H "token: $TOKEN" \
	  --silent \
	  --data-binary "@-" \
	  --compressed
	sleep 10 # >= 10s please - don't ruin this for everyone else
done
